.header {
    display: flex;
    justify-content: space-between;
    background-color: #eeebeb;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.icons-right {
    display: flex;
    column-gap: 2rem;
}