.sidebar__header {
    display: flex;
    justify-content: space-between;
    background-color: #e6f3dc;
    align-items: center;
    padding: .4rem .7rem;
    width: 100%;
}

.icons__right {
    display: flex;
    column-gap: 2rem;
}