
* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #DCF8C6;
}

#root {
  display: grid;
  justify-items: center;
  padding-top: 2rem;
  align-items: center;
}

